.flex-container {
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: end;


}

/*.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }*/

html, body {
  background: url("img/chucknorris.jpeg") no-repeat center center fixed;
}

.random.joke{
  background-color: white;
}

#input {
  max-width: 50%;
  background:white;
  opacity: .5;
  border: 1px solid black;
  font-size:18px;
  font-family: helvetica sans-serif;
}
.random {
  display: grid;
  justify-items: center;
   height: 100px;
   flex-grow: 0;
   flex-shrink: 0;
}
#noBadWurds{
  color:white;
}
.buttons{
  height:2em;
}
