.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    backgbackground-color: purple;
}

.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }

html, body {
  background-image: url("img/chucknorris.jpeg");
  background-color: red;
}
/*.image{
  position: relative;
  width: 100%;*/
}

h3 {

  top: 200px;
  left: 0;
  width: 100%;
}
.random {
   width: <property unused>
   height: <property unused>;
   /*align-items: center;*/
   height: 100px;
   flex-grow: 0;
   flex-shrink: 0;


}
