.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    backgbackground-color: purple;
}

/*.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }*/

html, body {
  background: url("img/chucknorris.jpeg") no-repeat center center fixed;
  background-color: black;

}

.random.joke{
  background-color: white;
}

#input {
  margin-top: 300px;
  border-top: 300px;
  width: 100%;
  background:white;
  opacity: .5;
  border: 1px solid black;
  font-size:18px;
  font-family: helvetica sans-serif;
}
.random {
   align-items: flex-start;
   height: 100px;
   flex-grow: 0;
   flex-shrink: 0;
}
#SFW{
  color:white;
}
